In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 

import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [2]:
# import Housing.csv
df = pd.read_csv('Housing.csv')
df = df.replace(to_replace = "yes", value = 1)
df = df.replace(to_replace = "no", value = 0) 

df['furnishingstatus'] = df['furnishingstatus'].map({'furnished': 2, 'semi-furnished': 1, 'unfurnished': 0})
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,2
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,2
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,2
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,0
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,1
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,0
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,2
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,0

In [3]:
df = df.dropna()

In [4]:
# Train Test split 
df_train=df.iloc[0:382,]
df_test=df.iloc[382:545,]

In [ ]:
#simple regression model with 'area' as a predictor variable

#x1 = df["area"]
#y=df["price"]

#x1 = x1.to_numpy().reshape(-1,1)
#y = y.to_numpy().reshape(-1,1)

#train model
#model = LinearRegression()
#model.fit(x1,y)
#y_pred = model.predict(x1)

#list to store number of predictor variables
#predictors=[]

#list to store model scores
#MSE_scores=[]
#R2_scores=[]

#MSE= mean_squared_error(y, y_pred)
#R2= r2_score(y, y_pred)

#print (MSE)
#print (R2)

#predictors.append(1)
#MSE_scores.append(MSE)
#R2_scores.append(R2)

In [11]:
#multivariate polynomial regression model with all twelve predictor variables

x1_train = df_train["area"]
y_train=df_train["price"]

x1_train = x1_train.to_numpy().reshape(-1,1)
y_train = y_train.to_numpy().reshape(-1,1)

x1_test = df_test["area"]
y_test=df_test["price"]

x1_test = x1_test.to_numpy().reshape(-1,1)
y_test = y_test.to_numpy().reshape(-1,1)

In [21]:
#multivariate polynomial regression model with all twelve predictor variables


#train model
#train_scores=[]
#test_scores=[]

# checking models with polynomial degrees 1,2,3,4,5,6,7,8
degrees = [1]

for i in degrees:  
    poly = PolynomialFeatures(degree=1)
    poly_features = poly.fit_transform(x1_train)
    
    model_train = LinearRegression()
    model_train.fit(poly_features, y_train)
    y_train_pred = model_train.predict(poly_features)
    train_score= r2_score(y_train, y_train_pred)
    #test_score= model_train.score(x1_test, y_test)
    print("polynomial Degree:",i,"train score:", train_score)

polynomial Degree: 1 train score: 0.20226515716914706